.navbar {
  height: 12vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: rgb(47, 47, 47);
  padding: 0 2% 0 2% ; 
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.logo {
  width: 4rem
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.nav-item {
  cursor: pointer;
  transition: color 0.3s ease;
}

.menu-icon {
  cursor: pointer;
  color: rgb(47, 47, 47);
  margin-right: 10px;
}

.searchBar-div {
  display: flex;
  justify-content: flex-end;
  width: 40vw;
}

/* Add media query for smaller screens (e.g., mobile) */
@media (max-width: 610px) {
  .nav-list {
    flex-direction: column;
    gap: 0.5rem;
  }

  .nav-item {
    margin: 0;
  }

  .searchBar-div {
    width: 60%;
  }
}

.logout-btn{
  background-color: rgba(255, 217, 0, 0.461);
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}
