body {
    padding-top: 12vh;
}

::-webkit-scrollbar {
    width: 7px;
    height: 3px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ff8025;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #ffcb93;
  }